div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  width: 50%;
}

.elements-inlined {
  display: flex;
  width: 100%;
}

.elem-time {
  padding-left: 1rem;
}

.elem-date {
  padding-right: 1rem;
}

label {
  display: block;
  font-family: "Nanum Gothic";
  padding-bottom: 10px;
  font-size: 1.6rem;
}

input,
select,
textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "League Spartan", sans-serif;
  width: 100%;
  padding: 10px;
}

div.elem-group.inlined input {
  display: inline-block;
}

textarea {
  height: 95px;
  width: 100%;
  resize: vertical;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.6rem;
  letter-spacing: 0.25rem;
  color: rgb(255, 255, 255);
  background-color: rgb(17, 17, 17);
  padding: 2.5rem 5.5rem;
  border: 1px solid rgb(255, 255, 255);
  margin-top: 2.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
}
button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(17, 17, 17);
  border: 2px solid rgb(17, 17, 17);
}

.header {
  height: 80rem;
}
.header__image {
  position: relative;
  background: url("/src/homepage/booking-bg.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.header__logo {
  padding-top: 1rem;
}
.header__title {
  margin: 4rem 0 2rem 0;
}
.header a {
  text-decoration: none;
}
.header button {
  margin-top: 2rem;
}
.header__text-container {
  background-color: rgb(17, 17, 17);
}

.main {
  position: relative;
  height: 25rem;
}
.main__booking-container {
  position: absolute;
  right: 16.5rem;
  top: -66rem;
  background-color: rgb(255, 255, 255);
  padding: 5rem 6rem;
  box-shadow: 0px 20px 30px -6px rgba(0, 0, 0, 0.3);
  width: 55rem;
}
.main__rectangle-element {
  position: absolute;
  background: url("/src/icons/Rectangle-booking.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  right: 30%;
  z-index: 0;
}
.main__brown-element {
  position: absolute;
  bottom: -7rem;
  left: 0.2rem;
  transform: translate(-50%, -50%);
  background: url("/src/icons/Group 12.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 7.6rem;
  width: 16rem;
  z-index: -1;
}

@media (max-width: 575.98px) {
  button {
    font-size: 1.2rem;
  }
  input,
  select,
  textarea {
    font-size: 1.3rem;
  }
  .header {
    height: 60rem;
  }
  .header__logo {
    width: 8.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  .header__logo img {
    width: 100%;
  }
  .header__image {
    background: url("/src/homepage/readymeal-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  .header__text-container {
    top: 4%;
  }
  .header__description {
    margin-bottom: 0;
    width: 100%;
  }
  .main {
    position: relative;
    font-size: 1.5rem;
    height: 66rem;
  }
  .main__booking-container {
    width: 90%;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    padding: 3rem;
  }
  .main__brown-element {
    display: none;
  }
}
@media (max-width: 1399.98px) {
  .header {
    height: 60rem;
  }
  .header__logo {
    width: 8.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  .header__logo img {
    width: 100%;
  }
  .header__image {
    background: url("/src/homepage/ready-bg-tablet@2x.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 100%;
  }
  .header__text-container {
    top: 4%;
  }
  .header__description {
    margin: 0 auto;
    padding: 0 4.2rem;
  }
  .main {
    position: relative;
    font-size: 1.6rem;
    height: 70rem;
  }
  .main__booking-container {
    width: 81%;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
    padding: 3rem;
  }
  .main__brown-element {
    display: none;
  }
}/*# sourceMappingURL=booking.css.map */