$primary-gray: rgba(17, 17, 17, 1);
$primary-beaver: rgba(158, 127, 102, 1);
$primary-white: rgba(255, 255, 255, 1);
$secondary-mirage: rgba(23, 25, 43, 1);
$secondary-clay: rgba(36, 43, 55, 1);
$secondary-ggray: rgba(92, 103, 121, 1);
